/* ===== Global Reset ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #c7cbc7;
    width: 100vw;
    overflow-x: hidden;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
}

.logo img {
    width: 100px;
}


/* Navigation */
.nav-links {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 40px;
    align-items: center;
    white-space: nowrap;
}

.nav-links a {
    display: block;
    width: 100%;
    color: white;
    text-decoration: none;
    font-weight: bolder;
    padding: 8px 16px;
    border-bottom: 2px solid transparent;
}

.nav-links li {
    display: block;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
}

.nav-links a:hover {
    background: #ffd700;
    border-radius: 30px;
    color: white;
    transition: 0.2s;
}

.nav-links .active {
    color: #020000;
    background-color: #ffd700;
    border-radius: 10px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 190px;
    height: 100vh;
    overflow-y: auto;
    background: linear-gradient(90deg, #0f3d2e, #0a2e23);
    color: white;
    z-index: 10;
    padding: 10px;
    gap: 100px;
    display: grid;
    align-items: left;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 3px solid #0a2e23;
}

.main-content {
    margin-left: 200px;
}

.main-content h2 {
    margin: 0;
    font-size: 28px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 190px;
    right: 0;
    height: 60px;
    background-color: white;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}


.topbar-right {
    display: flex;
    flex-direction: row-reverse;
    align-items: right;
    gap: 20px;
}

.notification {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 15px;
    border-radius: 10px;
    cursor: pointer;
}

.profile i {
    margin-right: 15px;
}

.profile img {
    display: inline;
    border: 1px solid #ddd;
    border-radius: 50%;
    object-fit: cover;
}

.profile span {
    font-size: 14px;
    font-weight: bolder;
}


.content {
    /* background-color: #ddd; */
    margin-left: 0px;
    padding-top: 80px;
}




/* .footer {
    position: fixed;
    bottom: 0;
    left: 260px;
    right: 0;
    background: #1e1e2f;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer p {
    margin: 0;
} */