{% extends 'layout.html' %}
{% block content %}
  <!-- Hero / Banner -->
  <section class="hero">
    <img src="static/Images/cubix uni.jpg"
         alt="Banner Image"
         width=" "
         height=" " />
    <div class="content">
      <h1 class="title">
        <span class="myH1">Empowering Mind
          <br>
        Building the Future.</span>
      </h1>
      <hr>
      <p>
        At Cubix University, we are dedicated to preparing the next
        <br>
        generation of technology leaders and innovators. Our programs
        <br>
        in technology are designed to inspire curiosity, foster creativity,
        <br>
        and deliver real-world impact.
      </p>
    </div>
  </section>
  <div class="our-story">
    <div class="story-content">
      <h2>OUR STORY</h2>
      <h2 class="h2-extras">
        Driven by Purose
        <br>
        Built for Tomorrow.
      </h2>
      <hr>
      <p>
        Cubix University was founded with a simple mission: to deliver
        world-class education in technology that is accessible, relevant,
        and future-focused.
      </p>
      <p>
        We believe technology has the power to solve the world's
        greatest challenges. That's why our curriculum, faculty, and
        community are committed to excellence, innovation, and
        positive changes.
      </p>
    </div>
    <div class="story-image">
      <img src="static/Images/students.jpg"
           alt="Our School"
           width=" "
           height=" " />
    </div>
  </div>
  <h2 class="values-h2">Our Values</h2>
  <div class="container">
    <div class="our-values">
      <div class="values">
        <div class="icon">
          <i class="fa-regular fa-star"></i>
        </div>
        <h3>Excellence</h3>
        <p>We are committed to the highest standards in teaching, learning and research.</p>
      </div>
      <div class="values">
        <div class="icon">
          <i class="fa-solid fa-award"></i>
        </div>
        <h3>Integrity</h3>
        <p>We uphold honesty, transparency, and ethical behaviour.</p>
      </div>
      <div class="values">
        <div class="icon">
          <i class="fa-solid fa-crosshairs"></i>
        </div>
        <h3>Innovation</h3>
        <p>We encourage creativity and critical thinking and embrace new ideas.</p>
      </div>
      <div class="values">
        <div class="icon">
          <i class="fa-solid fa-arrows-down-to-people"></i>
        </div>
        <h3>Collaboration</h3>
        <p>We believe in the power of partnership and learning together.</p>
      </div>
      <div class="values">
        <div class="icon">
          <i class="fa-solid fa-globe"></i>
        </div>
        <h3>Impact</h3>
        <p>We create technology solutions that make a meaningful difference</p>
      </div>
    </div>
  </div>
  <div class="whyUs">
    <div class="whyUsImage">
      <img src="static/Images/whyCubix.png" alt="Why Us" width=" " height=" " />
    </div>
    <div class="stats-container">
      <div class="stat">
        <i class="fas fa-graduation-cap"></i>
        <h2>4</h2>
        <p>Programs Offered</p>
      </div>
      <div class="stat">
        <i class="fas fa-users"></i>
        <h2>1,000+</h2>
        <p>Students Enrolled</p>
      </div>
      <div class="stat">
        <i class="fas fa-globe"></i>
        <h2>2</h2>
        <p>Countries Represented</p>
      </div>
    </div>
  </div>
{% endblock %}
