{% extends 'layout.html' %}
{% block content %}
  <!-- Hero / Banner -->
  <section class="hero">
    <img src="static/Images/banner.jpeg"
         alt="Banner Image"
         width="100%"
         height="100%" />
    <div class="content">
      <h1 class="title">
        <span class="myH1">Shape Your Future
          <br>
        at Cubix University</span>
      </h1>
      <hr>
      <p>
        Empowering minds. Inspiring futures.
        <br>
        Join a community dedicated to excellence,
        <br>
        innovation and impact.
      </p>
      <div>
        <button class="explore">Explore Programs →</button>
        <button class="learn-more">Learn More  →</button>
      </div>
    </div>
  </section>
  <section class="features">
    <div class="feature">
      <div class="icon">
        <i class="fa-solid fa-graduation-cap"></i>
      </div>
      <div class="text">
        <h3>Quality Education</h3>
        <p>High-Standard teaching and modern learning experience.</p>
      </div>
    </div>
    <div class="feature">
      <div class="icon">
        <i class="fa-solid fa-book-open"></i>
      </div>
      <div class="text">
        <h3>Library Access</h3>
        <p>Access to thousands of academic resourcesnand journals.</p>
      </div>
    </div>
    <div class="feature">
      <div class="icon">
        <i class="fa-solid fa-microscope"></i>
      </div>
      <div class="text">
        <h3>Research and Innovation</h3>
        <p>Encouraging creativity and groundbreaking discoveries</p>
      </div>
    </div>
    <div class="feature">
      <div class="icon">
        <i class="fa-solid fa-globe"></i>
      </div>
      <div class="text">
        <h3>Global Community</h3>
        <p>Connect with students and experts around the world.</p>
      </div>
    </div>
  </section>
  <div class="announcements">
    <h2>Latest Announcements</h2>
    <div class="announcements-list">
      <div class="item">
        <h3>
          New Admission Open for 2025/2026
          <br>
          Session.
        </h3>
        <a href="#" class="read-more">Read More -></a>
      </div>
      <div class="item">
        <h3>
          Modern Library now open for all
          <br>
          students.
        </h3>
        <a href="#" class="read-more">Read More -></a>
      </div>
      <div class="item">
        <h3>
          Scholarship Applications are now
          <br>
          Open
        </h3>
        <a href="#" class="read-more">Read More -></a>
      </div>
    </div>
  </div>
{% endblock %}
